{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <title>果物販売管理</title>
  {% block js %}
  {% endblock %}
</head>
<body>
  <header class="header">
    <h1 class="header__title">
      果物販売管理
    </h1>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
