{% extends 'base.html' %}

{% block content %}
<div class="login">
  <h2 class="login__title">
    ログイン
  </h2>

  <form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="login__form-field">
        <label class="login__form-label" for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>
        <div class="login__form-input">
          {{ field }}
        </div>

        {{ field.errors }}
      </div>
    {% endfor %}

    <button class="login__form-btn" type="submit">
      ログイン
    </button>
  </form>
</div>
{% endblock %}
